
<div class="container">
  <h1>Dashboard</h1>
<div class="jumbotron">
<p>
      PHARMA-Z is an offline medical dictionary that helps the medical students to search 
      and get information about several medicines, their brands and much more. It is useful 
      for medical students for their researches and projects to know about certain drugs, 
      their composition and usage for certain diseases The app can be used by anyone seeking 
      medical information, which can include doctors, pharmacists, medical reps, 
      medical students, patients, general public or anyone curious about medicines.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic quae sunt eaque eligendi quas tempore officiis? Consectetur quisquam voluptas ad tenetur id mollitia quibusdam quasi adipisci iste, non eum. Repudiandae.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis dignissimos, deserunt eum id at laboriosam quod veritatis voluptate perspiciatis fugit distinctio quos temporibus? Eum amet itaque cupiditate voluptatem sed vero!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint sunt blanditiis magni modi corporis maxime, ut doloremque quibusdam molestiae, voluptatibus molestias? Ipsam, quas quaerat. A cum quae cumque mollitia minus.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur hic consectetur accusamus eaque quo nihil, explicabo ratione! Perspiciatis nesciunt ex praesentium vitae dicta obcaecati! Quas officiis dolor mollitia amet! Dolores!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium minus dolores incidunt id sint voluptate facilis rem soluta debitis corrupti nisi, ipsam animi totam est qui quas officia asperiores ratione doloremque deleniti dolore sequi voluptatum labore? Dolores id nostrum temporibus officiis consectetur omnis iste, eveniet laboriosam aliquam dolore vitae nesciunt?
  </p>
  <a [routerLink]="['/home']">Back To Home</a>
</div>
</div>
  